body {
  margin: 0;
  padding: 0;
}

.wrapper {
  margin: 20px auto;
  width: 700px;
  height: 500px;
  overflow: hidden;
  background-color: #FF80AB;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-animation: bgChange 6s ease-in-out alternate infinite;
          animation: bgChange 6s ease-in-out alternate infinite;
}

.wrapper .header, .wrapper .footer {
  height: 50px;
}

.wrapper .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: century gothic;
}

.wrapper .header .logo {
  width: 30px;
  margin-left: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .header .logo .line, .wrapper .header .logo .line-middle {
  margin: 0 2px;
  width: 4px;
  background-color: white;
}

.wrapper .header .logo .line {
  height: 20px;
}

.wrapper .header .logo .line-middle {
  height: 12px;
}

.wrapper .header .heading {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.wrapper .header .fa-bars {
  margin-right: 15px;
}

.wrapper .main {
  width: 2100px;
  height: calc(500px - 90px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper .main .home-content {
  position: absolute;
  z-index: 5;
  margin-left: 25px;
  height: 410px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: century gothic;
  font-size: 40px;
  text-transform: uppercase;
}

.wrapper .main .home-content #home-header-first, .wrapper .main .home-content #home-header-second {
  letter-spacing: 7px;
}

.wrapper .main .home-content #home-header-first {
  margin-bottom: 0;
}

.wrapper .main .home-content #home-header-second {
  margin-top: 0;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-color: white;
  -webkit-text-stroke-width: 1px;
}

.wrapper .main .image-container {
  width: 700px;
  height: 415px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  -webkit-animation: imageSlide 6s ease-in alternate infinite;
          animation: imageSlide 6s ease-in alternate infinite;
}

.wrapper .main .image-container .image {
  width: 330px;
  height: 415px;
  position: absolute;
}

.wrapper .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: century gothic;
  font-size: 16px;
}

.wrapper .footer .footer-heading {
  margin-left: 25px;
  letter-spacing: 1.4px;
  font-weight: bold;
}

.wrapper .footer .page-number {
  width: 16px;
  height: 20px;
  margin-right: 25px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper .footer .page-number .number {
  position: relative;
  -webkit-animation: numberChange 6s ease-in alternate infinite;
          animation: numberChange 6s ease-in alternate infinite;
}

@-webkit-keyframes imageSlide {
  0% {
    right: 0px;
  }
  20% {
    right: 0;
  }
  40% {
    right: 700px;
  }
  60% {
    right: 700px;
  }
  80% {
    right: 1400px;
  }
  100% {
    right: 1400px;
  }
}

@keyframes imageSlide {
  0% {
    right: 0px;
  }
  20% {
    right: 0;
  }
  40% {
    right: 700px;
  }
  60% {
    right: 700px;
  }
  80% {
    right: 1400px;
  }
  100% {
    right: 1400px;
  }
}

@-webkit-keyframes bgChange {
  0% {
    background-color: #FF80AB;
  }
  50% {
    background-color: #93213e;
  }
  100% {
    background-color: #1565C0;
  }
}

@keyframes bgChange {
  0% {
    background-color: #FF80AB;
  }
  50% {
    background-color: #93213e;
  }
  100% {
    background-color: #1565C0;
  }
}

@-webkit-keyframes numberChange {
  0% {
    right: 0px;
  }
  20% {
    right: 0;
  }
  40% {
    right: 18px;
  }
  60% {
    right: 18px;
  }
  80% {
    right: 36px;
  }
  100% {
    right: 36px;
  }
}

@keyframes numberChange {
  0% {
    right: 0px;
  }
  20% {
    right: 0;
  }
  40% {
    right: 18px;
  }
  60% {
    right: 18px;
  }
  80% {
    right: 36px;
  }
  100% {
    right: 36px;
  }
}
/*# sourceMappingURL=styles.css.map */